.infoList{
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.infoItem{
    display: flex;
    gap: 40px;
}

.infoTextWrap{
    margin-top: 40px;
}

.infoTextTitle{
    font-family: 'Lilita One';
    font-size: 50px;
}

.infoTextDesc{
    font-size: 20px;
    line-height: 30px;
    margin-top: 20px;
}

.infoImg{
    width: 340px;
    height: 340px;
    transition: 300ms linear;
}

.infoImg:hover{
    transform: scale(1.1);
}